<div class="blue-bg">
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
          <img class="box-img-detail" [src]="marca?.imagePath" />
      </div>
      <div class="col-md-10">
        <h1>{{marca?.name}} <span class="pull-right"><i class="fa fa-star"></i> {{marca?.rating}}</span></h1>
        <hr>
        <h4>{{marca?.about}}</h4>
        <dl class="">
            <dt>Categoria</dt>
            <dd>{{marca?.category}}</dd>
          </dl>
      </div>
      
    </div>
  </div>
  <br>
  <br>
</div>

<div class="container">
  <div class="row">
    <br>
      <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="container">

      <section class="">

        <div class="row">
            <div class="col-xs-12">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-home"></i>

                  <h3 class="box-title">{{marca?.name}}</h3><span class="pull-right"><i class="fa fa-star"></i> {{marca?.rating}}</span>
                </div>
                <div class="box-body">
                  <div class="col-sm-3 col-xs-12" *ngIf="marca">
                    <img class="box-img-detail" [src]="marca?.imagePath" />
                  </div>

                  <dl class="col-sm-9 col-xs-12">
                    <dt>Categoria</dt>
                    <dd>{{marca?.category}}</dd>
                    <dt>Quem somos</dt>
                    <dd>{{marca?.about}}</dd>
                    <dt>Horários</dt>
                    <dd>{{marca?.hours}}</dd>
                  </dl>
                </div>
                <div class="box-footer detail-footer">
                <a class="pull-left" routerLinkActive="detail-active" [routerLink]="['menu']">
                   Menu
                </a>
                <a class="pull-right" routerLinkActive="detail-active" [routerLink]="['reviews']">
                   Avaliações
                </a>
              </div>
              </div>
            </div>

        </div>

        <div class="row">
            <router-outlet></router-outlet>
        </div>

      </section>

    </div> -->
