
  <div class="col-sm-6 col-md-4" [@menuItemAppeared]="menuItemState">
      <div class="thumbnail">
        <img class="" [src]="menuItem?.imagePath">
        <hr>
        <div class="caption">
          <h3 style="margin-top: 0">{{menuItem.name}}</h3>
          <p>{{menuItem.description}}</p>
          <h4>{{menuItem.price | currency: 'BRL': true}}</h4>
          <p><a (click)="emitAddEvent()" class="btn btn-warning btn-block text-uppercase btn-flat"><i class="fa fa-plus-circle"></i> Adicionar ao carrinho</a></p>
        </div>
      </div>
    </div>
