

<div class="blue-bg">
  
</div>
<section class="content-header">
</section> 

<section class="container">

  <div class="jumbotron welcome-jumbotron">
    <h1>Bem vindo a <br> Julio Bravin Store</h1>
    <hr>
    <p>
      Os melhores produtos das melhores marcas.
    </p>
    <a class="btn btn-warning btn-flat btn-lg" [routerLink]="['/marcas']">VER NOSSAS MARCAS</a>

  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="http://juliobravin.com/images/bg-sonho.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 22px;"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 27px;"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 22px;"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <h2>As marcas dos profissionais</h2>
          <hr>
          <p>Nosso objetivo é disponibilizar as melhores marcas em produtos de beleza e dermocosméticos à todos. Um preço justo pelo melhor.</p>
          <a class="btn btn-block btn-flat btn-lg btn-danger" [routerLink]="['/registro']">CRIAR MEU CADASTRO</a>
      </div>
      
    </div>
  </div>
</div>







